

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      
      <form role="form">
        <fieldset>
          <legend>Cluster Information</legend>
          <div class="form-group">
            <label for="remoteHostname">Hostname</label>
            <input type="text" class="form-control" id="remoteHostname" ng-model="cluster.hostname" placeholder="example.com">
          </div>
          
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" ng-model="cluster.username" placeholder="bill">
          </div>
          
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="cluster.password" placeholder="*******">
          </div>
        </fieldset>
        
        <button type="submit" class="btn btn-default" ng-click="startConnection(cluster)" ng-disabled="formDisabled" >Connect</button>
        
      </form>
    </div>
    
    
    <div class="col-sm-7">
      <h2>Connecting a Cluster</h2>
      
      <p>
        Connecting to a cluster allows submission to the remote cluster, as well
        as monitoring of the cluster.
      </p>
      
      <p>
        This cluster information is not stored locally.  Once a successful 
        connection has been established to the remote cluster, a persistent 
        connection is maintined while the application is running.
      </p>
      
      <div ng-show="cluster.promptReady">
        <form role="form">
          <fieldset>
            <div class="form-group">
              <label for="promptResponse">
                <pre>{{cluster.prompt}}
                </pre>
              </label>
              
              <input type="password" class="form-control" ng-model="cluster.promptResponse">
            </div>
          </fieldset>
          <button type="submit" class="btn btn-info" ng-click="submitPromptResponse(cluster.promptResponse)">Submit</button>
        </form>

      </div>
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <div class="sshConsole" id="sshConsole" ng-init="updateConsoleHeight()">
      </div>
    </div>
  
  </div>
  
</div>
